.membership-types {
    display: flex;
    flex-direction: column;
  
    &__card {
      display: flex;
      flex-direction: column;
      max-width: 488px;
      box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      margin: 16px 0px;
      cursor: pointer;
      background-image: linear-gradient(#ffffff, #f5f8fb);
      color: black;
  
      &--selected {
        background-image: linear-gradient(#3375b8, #185ea5);
        color: white;
      }
  
      @media only screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
      }
    }
  
    &__extwrapper {
      padding: 24px;
      @media only screen and (max-width: 767px) {
        padding: 16px;
      }
    }
  
    &__wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      @media only screen and (max-width: 767px) {
        margin-bottom: 0px;
      }
    }
  
    &__content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  
    &__content-wrapper {
      display: flex;
      max-width: 75%;
      @media only screen and (max-width: 767px) {
        margin-bottom: 6px;
      }
    }
  
    &__radio-container {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
      margin-bottom: 0px;
      min-width: 50px;
      width: 50px;
      @media only screen and (max-width: 767px) {
        min-width: 30px;
        width: 30px;
      }
  
      input {
        display: none;
      }
  
      input:checked + .radio-checkmark::after {
        display: block;
        background-color: white;
        border: 2px solid white;
        background-color: #3375b8;
      }
    }
}