.homepage-wrapper {
    max-width: 969px;
    margin: 0 auto;
    padding-top: 22px;
	background-color:lightgrey;
	color:black;
    .components {
        font-style:italic;
        p {
            text-align:center;
        }
        
    }
}